{% extends 'main/base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block title %}About us | OnlyForUs{% endblock %}

{% block body %}
    {% include 'main/navbar.html' %}
    
    <section class="container flex">
        <br><br>
        <h1>About us</h1>

        <div class="about_container flex">
            <div class="left flex">
                <img src="{% static 'main/images/cover-space.jpg' %}" alt="My image">
                
            </div>
            <div class="right flex">
            <h1>
                OnlyForUs is a Platform created by <b>Nageshwar Tripathi</b> and his Team, Students of <b>Sanskar College of Engineering and Technology</b> in which Students can find solutions and Notes for their Tutorials for different subjects in their semester. And there's also some polls going on where students can participate and Vote for their choice.
                <br><br>
                <small>Powered by <a href="http://stpdnp.atwebpages.com">STP Development and Production</a></small>
            </h1>
            </div>
        </div>
        
    </section>


     {% include 'main/footer.html' %}

     <style type="text/css">
         .flex{
             display: flex;
             justify-content: center;
             align-items: center;
         }
         .container{
            min-height: 100vh;
            width: 90%;
            margin: auto;
            padding-top: 30px;
            flex-direction: column;
         }
         .container h1{
             font-size: 50px;
             padding-top: 30px;
         }
         .about_container{
             width: 100%;
         }
         .about_container .left img{
             width: 100%;
             height: auto;
             object-fit: cover;

         }
         .about_container .right h1{
             font-size: 35px;
             padding: 0px 20px;
             font-weight: 500;
             color: rgb(30,30,30);
         }
         .about_container .right h1 b{
            color: rgb(50,50,50);
            font-weight: 700;
         }
         .about_container .right h1 small{
            font-size: 14px;
            display: block;
         }
         .about_container .right h1 small a{
            text-decoration: none;
            font-weight: bold;
            color: #5680E9;
         }
         @media screen and (max-width: 1500px) {
            .about_container .right h1{
                font-size: 28px;
   
            }
         }
         @media screen and (max-width: 1400px) {
            .about_container .right h1{
                font-size: 25px;
            }
            .container{
                min-height: 90vh;
                width: 100%;
                padding: 20px;
            }

         }
         @media screen and (max-width: 1000px) {
            .about_container{
                flex-direction: column;
            }
            .about_container .left img{
                width: 80%;
            }


         }
         @media screen and (max-width: 600px) {
            
            .about_container .right h1{
                font-size: 22px;
            }
            .container h1{
                font-size: 40px;
                padding: 0px;
            }

         }
         @media screen and (max-width: 400px) {
            
            .about_container .right h1{
                font-size: 18px;
            }
            .container {
                padding: 10px;
            }
            .right{
                text-align: center;
            }

         }
     </style>
       
{% endblock %}
