{% extends 'main/base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block title %}Select Semester | OnlyForUs{% endblock %}

{% block body %}
    {% include 'main/navbar.html' %}
    
    <section class="container flex ">
      
        <h1>Select Semester</h1>

        <!-- code goes here -->
        <div class="semester-block flex">
            <ul class="semester-list flex">
                {% for sem in semesters %}
                    <li><a href="" title="B.Tech Semester {{sem}}">Semester {{sem}}</a></li>
                {% endfor %}
            </ul>
        </div>
        
    </section>


     {% include 'main/footer.html' %}

     <style type="text/css">
         body{
            background-color: #DCE0F5;

         }
         .flex{
             display: flex;
             justify-content: center;
             align-items: center;
         }
         .container{
            min-height: 100vh;
            width: 100%;
            margin: auto;
            margin-top: 60px;
            justify-content: flex-start;
            flex-direction: column;
            margin-bottom: 40px;
         }
         .container h1{
             padding: 20px 0px;
         }
         .semester-block{
             width: 80%;
         }
         .semester-block ul{
             width: 100%;
             flex-direction: column;
             list-style: none;
         }
         .semester-block ul li a{
            background-color: #5680E9;
            padding: 18px;
            font-size: 20px;
            width: 500px;
            display: flex;
            justify-content: center;
            align-items: center;  
            margin: 10px;
            border-radius: 10px;
            color: white;
            text-decoration: none;
            box-shadow: 12px 12px 10px rgba(0,0,0,0.178);
            transition: 0.3s ease-in-out;
            border: 2px solid #5680E9;
        }
        .semester-block ul li a:hover{
            box-shadow: none;
            transform: scale(1.04);
        }
        @media screen and (max-width: 600px) {
         .semester-block ul li a{
             width: 300px;
             padding: 10px;
         }
         .container{
            margin-top: 40px;
         }
         .container h1{
            padding-top: 50px;
        }
        }

     </style>
       
{% endblock %}
